<h3 class="page-header">Dashboard</h3>
<h4 id="devstat"></h4>
<div class="row">
  <div class="col-6 col-lg-4">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-laptop bg-info p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-info mb-0 mt-h">{{getincome}} php</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-6 col-lg-4">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-bell bg-danger p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-danger mb-0 mt-h">{{getlastREC}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Last Recored</div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-6 col-lg-4">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-moon-o bg-warning p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-warning mb-0 mt-h">{{getuptime}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Uptime</div>
      </div>
    </div>
  </div><!--/.col-->

</div><!--/.row-->
<div class="row">
  <div class="col-6 col-lg-6">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-cogs bg-primary p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-primary mb-0 mt-h">{{getrpiIP}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">RPI IPADDR</div>
      </div>
    </div>
  </div><!--/.col-->

  <div class="col-6 col-lg-6">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-cogs bg-primary p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-primary mb-0 mt-h">{{getwlcIP}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">WLC IPADDR</div>
      </div>
    </div>
  </div><!--/.col-->

</div><!--/.row-->

<div class="row">
  <div class="col-6 col-lg-6">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-bell bg-danger p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-primary mb-0 mt-h">{{getrpiCPU}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">RPI CPU</div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-6 col-lg-6">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-bell bg-danger p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-primary mb-0 mt-h">{{getwlcCPU}}  %</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">WLC CPU</div>
      </div>
    </div>
  </div><!--/.col-->
</div>
<div class="row">
  <div class="col-6 col-lg-6">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-cogs bg-primary p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-primary mb-0 mt-h">{{getrpiMEM}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">RPI Memory</div>
      </div>
    </div>
  </div><!--/.col-->

  <div class="col-6 col-lg-6">
    <div class="card">
      <div class="card-block p-1 clearfix">
        <i class="fa fa-cogs bg-primary p-1 font-2xl mr-1 float-left"></i>
        <div class="h5 text-primary mb-0 mt-h">{{getwlcMEM}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">WLC Memory</div>
      </div>
    </div>
  </div><!--/.col-->
</div>

<p>Welcome to your Dashboard.</p>
<script src="/socket.io/socket.io.js"></script>
<script>
  (function(){
    var socket = io();
    var element = function(id){
      return document.getElementById(id);
    }
    var devstat = element('devstat');
    var setdevStat = function(stat){
    }
    if (socket!== undefined){
      console.log('Client is Connected to Sockets');
      socket.on('output', function(obj){
        console.log('test',obj);
        if(obj.ispSTAT){
            devstat.innerHTML = '(' + obj.ispSTAT +')';
        }
        if(obj.upTime){
            {{{setuptime obj.upTime}}}
        }
      });
      socket.on('updates', function(obj){
        console.log('test2 updates',obj);
        if(obj.income){
          {{{setuptime obj.upTime}}}
        }
        if(obj.upTime){
            {{{setuptime obj.upTime}}}
        },
        if(obj.wlc){
            {{{setwlcCPU obj.wlc.CPU}}}
            {{{setwlcMEM obj.wlc.MEM}}}
        }
      });
    }
  })();
</script>
